<div class="span9">
	<div class="space"></div>

	<div id="calendar" class="fc fc-ltr">
		<table class="fc-header" style="width:100%">
			<tbody>
				<tr>
					<td class="fc-header-left">
						<span class="fc-header-title">
							<h2> 2013 年</h2>
						</span>
					</td>
					<td class="fc-header-center"></td>
					<td class="fc-header-right">
						<span class="fc-button fc-button-today fc-state-default fc-corner-left fc-corner-right fc-state-disabled" unselectable="on">今年</span>
						<span class="fc-header-space"></span>
						<span class="fc-button fc-button-prev fc-state-default fc-corner-left" unselectable="on">
							<span class="fc-text-arrow">‹</span>
						</span>
						<span class="fc-button fc-button-next fc-state-default fc-corner-right" unselectable="on">
							<span class="fc-text-arrow">›</span>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="fc-content" style="position: relative; min-height: 1px;">
			<div class="fc-view fc-view-month fc-grid" style="position: relative; min-height: 1px;" unselectable="on">
				<div style="position:absolute;z-index:8;top:0;left:0"></div>
				<table class="fc-border-separate" style="width:100%" cellspacing="0">
					<thead>
						<tr class="fc-first fc-last">
							<th class="fc-day-header  fc-widget-header fc-first"></th>
							<th class="fc-day-header  fc-widget-header"></th>
							<th class="fc-day-header  fc-widget-header"></th>
							<th class="fc-day-header  fc-widget-header fc-last"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="fc-week fc-first">
							<td class="fc-day fc-sun fc-widget-content fc-first" data-date="2013-09-01">
								<div style="min-height: 88px;">
									<div class="fc-day-number">1</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-mon fc-widget-content" data-date="2013-09-02">
								<div>
									<div class="fc-day-number">2</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-tue fc-widget-content" data-date="2013-09-03">
								<div>
									<div class="fc-day-number">3</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-wed fc-widget-content fc-last" data-date="2013-09-04">
								<div>
									<div class="fc-day-number">4</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
						</tr>
						<tr class="fc-week">
							<td class="fc-day fc-sun fc-widget-content fc-first" data-date="2013-09-08">
								<div style="min-height: 87.09090912342072px;">
									<div class="fc-day-number">8</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-mon fc-widget-content" data-date="2013-09-09">
								<div>
									<div class="fc-day-number">9</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-tue fc-widget-content" data-date="2013-09-10">
								<div>
									<div class="fc-day-number">10</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-wed fc-widget-content fc-last" data-date="2013-09-11">
								<div>
									<div class="fc-day-number">11</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
						</tr>
						<tr class="fc-week fc-last">
							<td class="fc-day fc-sun fc-widget-content fc-other-month fc-first" data-date="2013-10-06">
								<div style="min-height: 87.18181824684143px;">
									<div class="fc-day-number">6</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-mon fc-widget-content fc-other-month" data-date="2013-10-07">
								<div>
									<div class="fc-day-number">7</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-tue fc-widget-content fc-other-month" data-date="2013-10-08">
								<div>
									<div class="fc-day-number">8</div>
									<div class="fc-day-content">
										<div style="position: relative; height: 0px;">&nbsp;</div>
									</div>
								</div>
							</td>
							<td class="fc-day fc-sat fc-widget-content fc-other-month fc-last" data-date="2013-10-12">
								<div>
									<div class="fc-day-number">12</div>
									<div class="fc-day-content">
										
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>