<div class="login-container">

	<div class="row-fluid">
		<div class="center">
			<h2> <i class="icon-leaf green"></i>
				<span class="white">商务合同管理系统</span>
			</h2>
			<h4 class="blue">&copy; 恒拓开源(天津)信息科技有限公司</h4>
		</div>
	</div>

	<div class="space-6"></div>

	<div class="row-fluid">

		<div class="position-relative">

			<div id="login-box" class="visible widget-box no-border">

				<div class="widget-body">
					<div class="widget-main">
						<h4 class="header blue lighter bigger"> <i class="icon-coffee green"></i>
							快速登录
						</h4>

						<form id="loginForm" action="/users/session" method="post">
							<fieldset class="loginGroup">
								<label class="test">
									<span class="block input-icon input-icon-right">
										<input type="text" id="loadUsername" name="username" class="span12" placeholder="用户名" />
										<i class="icon-user"></i>
									</span>
								</label>
								<label>
									<span class="block input-icon input-icon-right">
										<input type="password" id="loadPassword" name="password" class="span12" placeholder="密码" />
										<i class="icon-lock"></i>
									</span>
								</label>
								<div class="space"></div>
								<div class="row-fluid">
									<label class="span8">
										{{! <input type="checkbox"> }}
										{{! <span class="lbl">记住帐号</span> }}
									</label>
									<button type="submit" class="span4 btn btn-small btn-primary">
											<i class="icon-key"></i>
											登录
									</button>
								</div>

							</fieldset>
						</form>
					</div>
					<!--/widget-main-->

					{{! <div class="toolbar clearfix">
						<div>
							<a href="#" onclick="return false;" class="forgot-password-link">
							</a>
						</div>
						<div>
							<a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
								注册
								<i class="icon-arrow-right"></i>
							</a>
						</div>
					</div>
				</div> }}
				<!--/widget-body-->

			</div>
			<!--/login-box-->

			<div id="signup-box" class="widget-box no-border">

				<div class="widget-body">
					<div class="widget-main">
						<h4 class="header green lighter bigger">
							<i class="icon-group blue"></i>
							新用户注册
						</h4>
						<div class="space-6"></div>

						<form id="registerForm" action="/api/users" method="post">
							<fieldset>
								<label>
									<span class="block input-icon input-icon-right">
										<input type="email" class="span12" id="registerEmail" name="email" placeholder="常用邮箱" />
										<i class="icon-envelope"></i>
									</span>
								</label>
								<label>
									<span class="block input-icon input-icon-right">
										<input type="text" class="span12" id="username" name="username" placeholder="用户名" />
										<i class="icon-user"></i>
									</span>
								</label>
								<label>
									<span class="block input-icon input-icon-right">
										<input type="password" class="span12" name="password" placeholder="密码" />
										<i class="icon-lock"></i>
									</span>
								</label>
								<label>
									<span class="block input-icon input-icon-right">
										<input type="password" class="span12" name="password2" placeholder="确认密码" />
										<i class="icon-retweet"></i>
									</span>
								</label>

								<div class="space-24"></div>

								<div class="row-fluid">
									<button type="reset" type="reset" class="span6 btn btn-small">
										<i class="icon-refresh"></i>
										重置
									</button>
									<button type="submit" id="registerBtn" class="span6 btn btn-small btn-success">
										注册
										<i class="icon-arrow-right icon-on-right"></i>
									</button>
								</div>

							</fieldset>
						</form>
					</div>

					<div class="toolbar center">
						<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
							<i class="icon-arrow-left"></i>
							返回登录界面
						</a>
					</div>

				</div>
				<!--/widget-body-->

			</div>
			<!--/signup-box-->

		</div>
		<!--/position-relative-->

	</div>

</div>