<div class="row-fluid">
	<div class="span12">
		<h3 class="header smaller lighter blue">
			资源管理
			<span class="pull-right">
				<button id="resourcebtn" class="btn btn-purple btn-small">+添加资源</button>
			</span>
			<span class="pull-right" style="margin-right:10px;">
					<label id="itemLabel">
						展现
						<select id="item" class="mySelect">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
						</select>
						条
					</label>
				</span>
		</h3>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">资源名</th>
					<th class="center">URL</th>
					<th class="center">操作</th>
				</tr>
			</thead>
			<tbody id="resourceBody"></tbody>
		</table>
		<div id="tip"></div>
		<div id="paginator"></div>
	</div>
	{{! 新增资源div }}
	<div id="resourceAdd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">添加资源</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="resourcename">资源名</label>
					<div class="controls">
						<input type="text" id="resourcename" placeholder="resourceName"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="resourceurl">URL</label>
					<div class="controls">
						<input type="text" id="resourceurl" placeholder="resourceUrl"></div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button id="resourceAddSave"class="btn btn-primary">确定</button>
			<button id="release" class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		</div>
	</div>
	{{! /新增资源div }}
</div>