<div class="row-fluid">
	<div id="userBlock" class="span12">
		<h3 class="header smaller lighter blue">
			用户管理
			<span class="pull-right">
				<button id="ubtn" class="btn btn-purple btn-small">+添加用户</button>
			</span>
			<span class="pull-right" style="margin-right:10px;">
					<label id="itemLabel">
						展现
						<select id="item" class="mySelect">
							<option value="10" selected="selected">10</option>
							<option value="20">20</option>
							<option value="30">30</option>
						</select>
						条
					</label>
				</span>
		</h3>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th class="center">用户名</th>
					<th class="center">角色</th>
					<th class="center">操作</th>
				</tr>
			</thead>
			<tbody id="ubody"></tbody>
		</table>
		<div id="tip"></div>
		<div id="paginator"></div>
	</div>
	<div id="userAdd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">添加用户</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="username">用户名</label>
					<div class="controls">
						<input type="text" id="uusername" placeholder="username">
						<div id="nameMessage" style="margin-top:-25px; margin-left:220px; display:none" ><font color="red" >用户名长度小于4！</font></div>
					</div>
						
				</div>
				<div class="control-group">
					<label class="control-label" for="password">密码</label>
					<div class="controls">
						<input type="text" id="password" placeholder="password"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="email">邮箱</label>
					<div class="controls">
						<input type="text" id="email" placeholder="email"></div>
				</div>
				<div class="control-group">
					<label class="control-label" for="role">角色</label>
					<div id="roleU" class="controls"></div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button id="userAddSave"class="btn btn-primary">确定</button>
			<button id="release" class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
		</div>
	</div>
</div>